<h1>Sign in</h1>
<%= @user.errors.full_messages.join(",") %>
<%= form_tag sessions_path do %>
<div>
  <%= label_tag :email %>
  <%= email_field_tag :email %>
</div>
<div>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
</div>
<%= submit_tag "Sign in" %>
<% end %>
<%#= link_to "Forget password", new_passwordreset_path %>
