<h1>Edit Info</h1>
<% if flash[:notice] %>
  <div class="flash-notice"><%= flash[:notice] %></div>
<% elsif flash[:alert] %>
  <div class="flash-alert"><%= flash[:alert] %></div>
<% end %>
<%= form_tag user_path, method: :patch do %>
  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name %>
  </div>
  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name %>
  </div>
  <div>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
  </div>
  <div>
    <%= label_tag :old_password %>
    <%= password_field_tag :old_password %>
  </div>
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div>
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation %>
  </div>
  <%= submit_tag "Update" %>
<% end %>
